<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"> </link> <!-- -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<title  th:text=${$titulo} ></title>
</head>
<body>
  <div class="container">
    <div class="form">
      <div class="row">
        <div class="col">
          <h1  th:text=${titulo} style="color: aliceblue;"> </h1> </h1>
        </div>
      </div>
      <div class="row">
        <table class="table table-striped">
          <thead style="color: aliceblue;">
            <th>Datos</th> 
          </thead>
          <tbody >
            <tr >
              <td style="color: aliceblue;">LIBRO :</td>
              <td  th:text="${ejemplar.libro}" style="color: aliceblue;"> </td>
            </tr >
            <tr >
              <td style="color: aliceblue;">CODIGO :</td>
              <td th:text="${ejemplar.codigoEjemplar}" style="color: aliceblue;"> </td>
            </tr>
            <tr >
              <td style="color: aliceblue;">LOCALIZACION :</td>
              <td th:text="${ejemplar.localizacion}" style="color: aliceblue;"> </td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
     
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>