<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"> </link>

<!-- CSS DE BOOTSTRAP -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
	
<div class="container-fluid">

<h1 class="color-rojo" th:text="${titulo}"></h1>
	<h2 class="color-azul" >HELLO WORLD -EN SPRING</h2>
	<div class="form">
		<div class="row">
		<div class="col col-4">
		<div class="dropdown">
  			<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
   				Seleccionar Usuario
  			</button>
  		<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
    		<li><a class="dropdown-item active" href="#">Action</a></li>
    		<li><a class="dropdown-item" href="#">Another action</a></li>
    		<li><a class="dropdown-item" href="#">Something else here</a></li>
    		<li><hr class="dropdown-divider"></li>
    		<li><a class="dropdown-item" href="#">Separated link</a></li>
  		</ul>
		</div>
	 </div>
	<div class="col col-4">
		<div class="dropdown">
  			<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
   				Seleccionar Libro
  			</button>
  		<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
    		<li><a class="dropdown-item active" href="#">Action</a></li>
    		<li><a class="dropdown-item" href="#">Another action</a></li>
    		<li><a class="dropdown-item" href="#">Something else here</a></li>
    		<li><hr class="dropdown-divider"></li>
    		<li><a class="dropdown-item" href="#">Separated link</a></li>
  		</ul>
		</div>
	 </div>
	<div class="col col-4">
		<div class="dropdown">
  			<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
   				Seleccionar Ejemplar
  			</button>
  		<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
    		<li><a class="dropdown-item active" href="#">Action</a></li>
    		<li><a class="dropdown-item" href="#">Another action</a></li>
    		<li><a class="dropdown-item" href="#">Something else here</a></li>
    		<li><hr class="dropdown-divider"></li>
    		<li><a class="dropdown-item" href="#">Separated link</a></li>
  		</ul>
		</div>
	 </div>
	</div>
	<br>
	<div class="row">
		<div class="col col-6">
			<div class="input-group mb-3">
  				<span class="input-group-text" id="inputGroup-sizing-default">Fecha Prestamo</span>
  				<input type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
			</div>
		</div>
		<div class="col col-6">
			<div class="input-group mb-3">
  				<span class="input-group-text" id="inputGroup-sizing-default">Fecha Devolucion</span>
  				<input type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
			</div>
		</div>	
	</div>
	
	
	<div class="row">
		<div class="col col-4">
			 
		</div>
		<div class="col col-4">
			 <button type="button" class="btn btn-outline-success">Success</button>
		</div>
		<div class="col col-4">
			 
		</div>
		 
	</div>
	
	
	</div>
	  
</div>
		
	
	<!-- JavaScript DE BOOTSTRAP -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>